<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="LoginForm">
    <div class="container">
        <h3>Book Store App</h3>
        <ul class="nav nav-pills">
            <li><a href="/home">List All Books</a></li>
            <li><a href="/delete">Delete a Book</a></li>
            <li class="active"><a href="/create">Create a Book</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Create Book</h2>
                    <p>Please enter Book details</p>
                </div>
                <form action="/create" method="post" id="Login">
                    <div class="form-group">
                        <input type="text" class="col-xs-2" name="BookID" placeholder="BookID" required><br></br>
                    </div>
                    <div class="form-group">
                        <input type="text" class="col-xs-2" name="BName" placeholder="Book Name" required><br></br>
                    </div>
                    <div class="form-group">
                        <input type="text" class="col-xs-2" name="BAuth" placeholder="Author" required><br></br>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>